body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

header {
    margin: 20px;
    justify-content: center;
}

header > img {
    width: 25%;
}

h1, h2 {
    color: #FB8C00;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: #61616113;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.74);
}

footer > a {
    text-decoration: none;
}

/*------------------------ class & ID ------------------------*/
.titre {
    background-color:#61616113;
}

.conteneur {
    margin: 0 400px 0 400px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.exemple_code {
    background-color: #e6e6e6;
    border-radius: 5px;
}

.orange{
    background-color: #FB8C00;
}

.icone_rs{
    font-size: 2em;
    -webkit-transition: 0.5s;  
}

.btn {
    border: 1px rgba(0, 0, 0, 0.466) solid;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    padding: 20px;
    background-color: #FB8C00;
    -webkit-transition: 0.5s; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
    cursor: pointer;
}
.btn:hover {
    background-color: #884c04;
    -webkit-transition: 0.5s; 
    color: #fafafa;
}

/* Animation RS*/
.icors {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    animation-duration: .5s;
    transition: all 0.5s linear;
    color: #FB8C00;
    margin-bottom: 20px;
}
.icors:hover {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
    animation-duration: .5s;
    transition: all 0.5s linear;
	-webkit-transition: .3s ease-in-out;  
}
/*------------------------------------------------*/




@media screen and (max-width: 900px) {
    header > img {
        width: 70%;
    }

    .conteneur{
        text-align: justify;
        margin: 0 50px 0 50px;
    }

    pre {
        font-size: 9px;
    }

    .btn_gitlab {
        text-align: center;
    }
}